.user-profile-container {
  display: flex;
  flex-direction: column;
}

.avatar-baseline {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.avatar-container {
  display: flex;
  flex-direction: column;
}

.avatar--rounded-container {
  border-radius: 100px;
}

.avatar--pseudo {
  align-self: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 0.7rem;
}

.avatar-input {
  position: relative;
}

.user-fruit {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(10%, 10%);
}

.user-avatar-image {
  border-radius: 100px;
  width: 100px;
  height: 100px;
}

.nook-input-container {
  position: relative;
  padding: 1rem 0;
}

.nook-input--label {
  position: absolute;
  background: #E2AE65;
  z-index: 2;
  padding: 0.2rem 1.1rem;
  border-radius: 20px;
  transform: rotateZ(-4deg);
  font-weight: 700;
}

.profile-input {
  margin-top: 1.4rem;
}

.nook-text-area {
  border-radius: 30px;
  background-color: rgb(247, 243, 232);
  border: none;
  margin: 0px;
  width: 272px;
  height: 104px;
  margin-top: 1.4rem;
  padding: 1rem;
  border: 1px solid rgba(34,36,38,.15);
}

/* .nook-input:disabled,  */
.nook-text-area:disabled {
  opacity: 0.45;
}

.user-profile--discord-link-button {
  background: #7289DA;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  align-self: center;
  outline: none;
  margin-bottom: 2rem;
}

.user-profile--discord-link-button:active {
  background: rgb(86, 113, 210);
  transition: all 200ms ease;
}


.user-profile--discord-link-button--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-profile--discord-link-button--content > svg {
  margin-right: 0.5rem;
  height: 1.5rem;
}

.user-profile--discord-link-button--content > span {
  font-weight: 800;
  font-size: 1.2rem;
}

.user-profile--discord-DM-button {
  background: #7289DA;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 0.5rem 1rem;
  width: fit-content;
  align-self: center;
  outline: none;
  margin-bottom: 2rem;
}

.user-profile--discord-DM-button:active {
  background: rgb(86, 113, 210);
  transition: all 200ms ease;
}


.user-profile--discord-DM-button--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.user-profile--discord-DM-button--content > svg {
  margin-right: 0.5rem;
  height: 1.3rem;
}

.user-profile--discord-DM-button--content > span {
  font-weight: 800;
  font-size: 1rem;
}

.user-profile--discord {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2rem;
}

.user-profile--discord > svg {
  margin-right: 0.4rem;
  height: 1.5rem;
}

.user-profile--discord--username {
  font-weight: 800;
}

.user-profile--discord--discriminator {
  opacity: 0.7;
}