*.code-workspace

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Node ###
# Logs
logs
*.log

# Dependencies
node_modules/

# dotenv environment variables file
.env

### VS Code ###
.vscode/