*.code-workspace

/resources

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Node ###
# Logs
logs
*.log

# Dependencies
node_modules/

# dotenv environment variables file
.env
client_secret.json

### VS Code ###
.vscode/