.all-prices--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price--container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  flex: 0 1 46%;
  margin: 2%;
}

.price--author-avatar--container {
  width: 50%;
  transform: translateY(20%);
}

.price--author-avatar {
  width: 100%;
  border-radius: 100px 100px 0px 0px;
}

.nook-pseudo {
  background: #E2AE65;
  padding: 4px 1rem;
  border-radius: 40px;
  color: #6E341D;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Arial;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -12px);

}


.price--informations--container {
  position: relative;
  background: #f7f4e6;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 3px 10px 0px #0000001c;
  padding: 1rem;
}

.price--informations--basis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}


.price-per-turnip--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.price-per-turnip--container span {
  color: #848484;
}

.price-per-turnip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-per-turnip > span {
  font-size: 2.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.4rem;
}

.price-per-turnip--label {
  font-size: 0.9rem;
  margin-top: -2px;
}



.profit--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.profit--container span {
  color: #848484;
}

.profit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.profit > span {
  font-size: 1rem;
  padding-right: 0.3rem;
}

svg.bells-svg {
  height: 1rem;
  width: auto;
}

.profit--label {
  font-size: 0.8rem;
  margin-top: -2px;
}

.profit--triangle-indicator {
  height: 0.5rem;
}

.profit--percentage {
  font-size: 0.7rem;
  padding-left: 0.2rem;
}

.profit--percentage.positive {
  color: #4EBF53;
}

.profit--percentage.negative {
  color: #BF4E4E;
}