.profile-container-2 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}


.login-form-container {
  flex: 5;
  position: relative;
}

.app-presentation {
  flex: 6;
  background: #8dc9a4;
  background-image: url('../res/images/leaf-background-compressed.png');
  background-size: cover;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.34);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: baseline;
  overflow: hidden;
}

.banner-container {
  text-align: center;
  margin-top: 10%;
}

#atnh-banner {
  filter: drop-shadow(5px 9px 6px rgba(0,0,0,0.5));
  width: 100%;
  max-width: 500px;
}

@media only screen and (max-device-width : 768px) {
  .profile-container-2 {
    flex-direction: column-reverse;
  }

  .app-presentation {
    flex: 2;
    justify-content: center;
  }

  .banner-container {
    margin-top: 0%;
  }

  #atnh-banner {
    max-width: 50%; 
  }
}


.profile-content-container {
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 100%;
  max-height: 500px;
}

.nook-input > input {
  border-radius: 60px !important;
  background-color: #F7F3E8 !important;
}

 /* TODO: fix this */
.nook-input > input:not(.error) {
  border: none ;
  /* !important */
}

.next-button {
  align-self: center;
  transition: all 200ms ease;
  filter: drop-shadow(0px 4px 6px #0002);
  margin: 1rem;
  overflow: visible;
}

/* For desktop only (hover enabled) */
@media not all and (hover: none) {
  .next-button:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    opacity: 0.9;
    overflow: visible;
  }
}

.error-message {
  color: #e85e5e;
}