/* AUTHENTIFICATION */

.profile-container-2 {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}


.login-form-container {
  flex: 5;
  position: relative;
}

.app-presentation {
  flex: 6;
  background: #8dc9a4;
  background-image: url('../res/images/leaf-background-compressed.png');
  background-size: cover;
  box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.34);
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: baseline;
  overflow: hidden;
}

.banner-container {
  text-align: center;
  margin-top: 10%;
}

#atnh-banner {
  filter: drop-shadow(5px 9px 6px rgba(0,0,0,0.5));
  width: 100%;
  max-width: 500px;
}

@media only screen and (max-device-width : 768px) {
  .profile-container-2 {
    flex-direction: column-reverse;
  }

  .app-presentation {
    flex: 2;
    justify-content: center;
  }

  .banner-container {
    margin-top: 0%;
  }

  #atnh-banner {
    max-width: 50%; 
  }
}


.profile-content-container {
  display: flex;
  flex-direction: column;
  padding: 10%;
  height: 100%;
  max-height: 500px;
}

.nook-input > input {
  border-radius: 60px !important;
  background-color: #F7F3E8 !important;
}

 /* TODO: fix this */
.nook-input > input:not(.error) {
  border: none ;
  /* !important */
}

.next-button {
  align-self: center;
  transition: all 200ms ease;
  filter: drop-shadow(0px 4px 6px #0002);
  margin: 1rem;
  overflow: visible;
  min-height: 50px;
}

/* For desktop only (hover enabled) */
@media not all and (hover: none) {
  .next-button:hover {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    opacity: 0.9;
    overflow: visible;
  }
}

.error-message {
  color: #e85e5e;
}





.sign-up-root-container {
  position: relative;
  height: 100%;
}





.sign-up-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}


.sign-up-anim-enter {
  opacity: 0;
  visibility: visible;
  z-index: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.sign-up-anim-enter-active {
  transform: translateX(0%);
  opacity: 1;
}

.sign-up-anim-enter-done {
  opacity: 1;
}

.sign-up-anim-exit {
  opacity: 1;
  transform: translateX(0%);
  transition: all 0.3s ease;
}

.sign-up-anim-exit-active {
  transform: translateX(-100%);
  opacity: 0;
}

.sign-up-anim-exit-done {
  opacity: 0;
  visibility: hidden;
  z-index: -99999;
}



.sign-up-complementary-absolute {
/* Setup at same Y */
  position: absolute;
  top: 0;
  width: 100%;
  /* height: 300px; */
}

.sign-up-complementary-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  
}


.sign-up-complementary-anim-enter {
  opacity: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.sign-up-complementary-anim-enter-active {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  opacity: 1;
}

.sign-up-complementary-anim-exit {
  opacity: 1;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.sign-up-complementary-anim-exit-active {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  opacity: 0;
}




.nook-input-label {
  background: #E2AE65;
  width: fit-content;
  padding: 2px 13px;
  border-radius: 40px;
  color: #6E341D;
  font-size: 0.75rem;
  font-weight: bold;
  font-family: Arial;
  margin-top: 1rem;
}

.hemisphere-buttons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
}

.hemisphere-buttons > button {
  background: #f8f3e8;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  margin-right: 1rem;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
  border: solid 3px transparent;
  outline: none;
  transition: all 200ms ease;
  opacity: 0.6;
}

.hemisphere-buttons > button:active {
  opacity: 0.9;
  transform: scale(1);
}



.fruits-buttons {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;
  justify-content: space-around;
}

.fruits-buttons > svg {
  filter: drop-shadow(0px 4px 6px rgb(0,0,0,0.2));
  transition: all 200ms ease;
}

.active-fruit circle {
  fill: #f0c683;
  transition: all 100ms ease;
}

/* For desktop only (hover enabled) */
@media not all and (hover: none) {
  .hemisphere-buttons > button:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }

  .fruits-buttons > svg:hover {
    opacity: 0.9;
    transform: scale(1.1);
  }
}


/* LOGGED */
.logged-profile-container {
  padding: 5% 30%;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: fit-content;
}

@media only screen and (max-device-width : 768px) {
  .logged-profile-container {
    padding: 10%;
  }
}