.turnip-input--container {
  display: flex;
  flex-direction: column;
  background: #f7f4e7;
  border-radius: 30px;
  padding: 2rem;
  font-family: Finkheavy;
  color: #838383;
  font-size: 1.5rem;
  align-items: center;
  max-width: 500px;
  margin: auto;
  margin-top: 2rem;
}

.turnip-input {
  display: flex;
  max-width: 150px;
  align-items: center;
  background: #6CBE4F;
  border-radius: 40px;
  border: 4px solid white;
  margin-top: 1rem;
  padding: 0rem 1rem;
  position: relative;
}

#price-input, #turnip-quantity-input, #unitary-turnip-price-input {
  padding: 0 0.5rem;
  background: transparent;
  color: #FEFF77;
  font-weight: 800;
  padding-bottom: 0.2rem;
  font-size: 2rem;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  -moz-appearance: textfield;
}

#price-input::-webkit-inner-spin-button, 
#price-input::-webkit-outer-spin-button,
#turnip-quantity-input::-webkit-inner-spin-button,
#turnip-quantity-input::-webkit-outer-spin-button,
#unitary-turnip-price-input::-webkit-inner-spin-button,
#unitary-turnip-price-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.turnip-input--label {
  position: absolute;
  bottom: -12px;
  right: 0;
  background: white;
  border-radius: 20px;
  padding: 0rem 0.5rem;
  font-size: 1rem;
}




.all-prices--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
}

.price--container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  flex: 0 1 46%;
  margin: 2%;
}

.price--author-avatar--container {
  width: 50%;
  transform: translateY(20%);
}

.price--author-avatar {
  width: 100%;
  border-radius: 100px 100px 0px 0px;
}

.price--informations--container > .nook-pseudo {
  background: #E2AE65;
  padding: 4px 1rem;
  border-radius: 40px;
  color: #6E341D;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Arial;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -12px);
}


.price--informations--container {
  position: relative;
  background: #f7f4e6;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0 3px 10px 0px #0000001c;
  padding: 1rem;
}

.price--informations--basis {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}


.price-per-turnip--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.price-per-turnip--container span {
  color: #848484;
}

.price-per-turnip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-per-turnip > span {
  font-size: 2.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.4rem;
}

.price-per-turnip--label {
  font-size: 0.9rem;
  margin-top: -2px;
}



.profit--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.profit--container span {
  color: #848484;
}

.profit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.profit > span {
  font-size: 1rem;
  padding-right: 0.3rem;
}

svg.bells-svg {
  height: 1rem;
  width: auto;
}

.profit--label {
  font-size: 0.8rem;
  margin-top: -2px;
}

.profit--triangle-indicator {
  height: 0.5rem;
}

.profit--percentage {
  font-size: 0.7rem;
  padding-left: 0.2rem;
}

.profit--percentage.positive {
  color: #4EBF53;
}

.profit--percentage.negative {
  color: #BF4E4E;
}


/* DETAILED VIEW */
.detailled-view--container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.avatar-header--container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.avatar-header--container > .nook-pseudo {
  background: #E2AE65;
  padding: 4px 1rem;
  border-radius: 40px;
  color: #6E341D;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Arial;
  margin-top: 0.5rem;
  /* position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0); */
}

.avatar-header--image {
  max-width: 100px;
  max-height: 100px;
  border-radius: 40px;
  width: auto;
  height: auto;
}


.week-prices--container {
  display: flex;
  flex-direction: column;
  background: #f7f4e6;
  border-radius: 60px;
  padding: 1rem;
  margin: 0.5rem;
  align-items: center;
  font-family: FinkHeavy;
  font-size: 1.2rem;
}

.week-prices--prices {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.week-prices--prices > .day-entry--container {
  flex: 1 0 50%;
}

.day-entry--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.day-entry--label {
  opacity: 0.8;
}

.day-entry--moment--container {
  display: flex;
  flex-direction: row;
}

.day-entry--moment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.day-entry--moment--label {
  opacity: 0.5;
  padding: 0.5rem 0;
  padding-top: 0.4rem;
}

.day-entry--moment--input {
  font-family: Arial, Helvetica, sans-serif;
}



.week-prices--label {
  font-family: FinkHeavy;
}