:root {
  --main-color: #f7f2e5;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.rounded-borders {
  border-radius: 100px;
}

.wip {
  width: 75%;
  display: flex;
  justify-content: center;
  /* height: 45vh; */
  margin: auto !important;
  margin-top: 30vh !important;
  flex-direction: column;
  align-items: center;
}

.wip-title {
  font-size: x-large;
}

.wip-explanations {
  align-self: center;
  font-size: inherit;
  width: 100%;
  overflow-wrap: break-word;
  opacity: 0.4;
  margin-top: 1rem;
  margin-top: 1rem;
  opacity: 0.1;
}



.navigation-bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
  z-index: 999999;
  box-shadow: -1px 44px 37px 20px #000000bf;
  /* background: #e0dbcf; */
}

.navigation-bar--menu {
  background: #e6e1d5 !important;
  border: none !important;
}

.navigation-bar--item {
  background: #f3e7c6 !important;
  border-radius: 0 !important;
}

.navigation-bar--item.active {
  background: #f3d790 !important;
}

.navigation-bar--item:first-child {
  border-radius: 20px 0 0 0 !important;
}

.navigation-bar--item:last-child {
  border-radius: 0 20px 0 0 !important;
}


.no-data {
  text-align: center;
  opacity: 0.5;
  margin: 5rem 2rem;
  line-height: 1.5;
}



.profile-container {
  padding: 2rem;
  padding-bottom: 4rem !important;
}

.profile-form-input {
  padding: 0.5rem 0px !important;
}

.profile-header {
  margin: 0px -0.5em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.profile-container .ui.loading.form:before {
  width: 105% !important;
  margin: 0px -0.5em !important;
}