.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navigation-bar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-direction: row;
}



.no-data {
  text-align: center;
  opacity: 0.5;
  margin: 5rem 2rem;
  line-height: 1.5;
}



.profile-container {
  padding: 2rem;
}

.profile-form-input {
  padding: 0.5rem 0px !important;
}

.profile-header {
  margin: 0px -0.5em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.profile-container .ui.loading.form:before {
  width: 105% !important;
  margin: 0px -0.5em !important;
}



.market {
  padding: 1rem;
}

.market--header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;
}

.market--header--container {
  display: flex;
    flex-direction: row;
    align-items: center;
}

.market--header--post-count {
  border-radius: 20px;
  background: #d22525;
  color: white;
  width: 1.3rem;
  height: 1.3rem;
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  line-height: 1.6;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}


.market-post {
  -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.5s; /* Firefox < 16 */
   -ms-animation: fadein 0.5s; /* Internet Explorer */
    -o-animation: fadein 0.5s; /* Opera < 12.1 */
       animation: fadein 0.5s;
  margin-bottom: 3rem;
}

.market--post--author {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.market--post--shop-picture {
  text-align: center;
  background-color: #f2f1f2;
  margin: 0 -1rem 2rem;
}

.market-items--post--item {
  display: flex;
  flex-direction: column;
}

.market-items--post--item-label {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 13px;
  margin-left: 0.5rem;
}

.market-items--no-item {
  margin-top: 1rem;
  text-align: center;
}


.market--post-creator {
  padding: 1rem;
}

.shop-picture {
  max-height: 25vh;
}

.shop-picture--input {
  max-height: 25vh;
  height: 18rem;
  min-height: 0px !important;
}

.market-items--input {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}

.market-items--input .input {
  min-width: 0;
}

.market-items--input > * {
  padding: 0% 2%;
}

.market-items--input > button {
  margin: 0 !important;
}

.market-items--input .input:first-child {
  padding-left: 0px;
}

.market-items--input .input:last-child {
  padding-right: 0px;
}

.market-items--price-input {
  max-width: 35%;
}

.market-items--input-with-error span {
  font-size: 11px;
  color: #e23939;
  margin-bottom: 1rem;
}

.market-items--creator--item {
  align-self: center;
  font-size: 16px;
  margin-left: 0.5rem;
}

.market-items--creator--item-name {
  font-weight: 700;
  margin-right: 1rem;
}

.market-items--creator--item-price {
  font-weight: 400;
}

.market-items--publish {
  margin-top: 2rem !important;
}




@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}