.changelog-background {
  position: absolute;
  top: 0;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  padding: 10% 30%;
  position: fixed;
}

@media only screen and (max-device-width : 768px) {
  .changelog-background {
    padding: 10% 5% 15% 5%;
  }
}

.changelog-baseline {
  position: relative;
  height: 100%;
  transition: all 200ms;
}

.changelog-baseline:hover {
  transform: scale(1.05);
}

.changelog-content-container {
  display: flex;
  flex-direction: column;
  background: #F7F4E5;
  border-radius: 60px;
  padding: 10% 15%;
  overflow-y: auto;
  height: 75vh;
}

.changelog-content-container h2 {
  font-family: FinkHeavy !important;
}

.changelog-content-container span {
  font-family: FinkHeavy !important;
  font-size: 1.1rem;
}

.changelog-content-container::-webkit-scrollbar-track {
  margin: 60px 0;
}

.changelog--log--container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
}

.changelog--pre-message--container {
  margin-bottom: 1rem;
}

.changelog--post-message--container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}


.changelog-anim-enter {
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.changelog-anim-enter-active {
  opacity: 1;
  transform: scale(1);
}

.changelog-anim-exit {
  transform: scale(1);
  opacity: 1;
}

.changelog-anim-exit-active {
  opacity: 0;
  transform: scale(1.2);
  transition: all 0.5s ease;
}

.nook-head {
  animation: 1s ease 1s infinite alternate waving;
}

@keyframes waving {
  0% {
    transform: rotate(-8deg) scale(1);
  }

  50% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(-8deg) scale(1.5);
  }
}