body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #DEF2D9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FinkHeavy';
  src: url('res/fonts/FinkHeavy.eot');
  src: url('res/fonts/FinkHeavy.eot?#iefix') format('embedded-opentype'),
      url('res/fonts/FinkHeavy.woff2') format('woff2'),
      url('res/fonts/FinkHeavy.woff') format('woff'),
      url('res/fonts/FinkHeavy.ttf') format('truetype'),
      url('res/fonts/FinkHeavy.svg#FinkHeavy') format('svg');
  font-weight: 900;
  font-style: normal;
}

